html, body {
	background: #1e1e2e;
	color: #cdd6f4;
	font-family: helvetica, serif;
	text-align: left;
	font-size: 125%;
}

.hidden {
	display: none;
}

a {
	color: #89b4fa
}

code {
	background: #11111b;
	border-style: solid;
	border-color: #6c7086;
	border-radius: 10px;
	border-width: 2px;
	padding-left: 2px;
	padding-right: 2px;
	color: #a6adc8;
}

.tag {
	background: #11111b;
	border-style: solid;
	border-color: #6c7086;
	border-radius: 10px;
	display: inline-block;
	margin-left: 3px;
	border-width: 2px;
	margin-bottom: 3px;
	color: #a6adc8;
	user-select: none;
}

span.tag.active h6 {
	background: #a6adc8;
	color: #11111b;
}

.hoverable {
	color: #cba6f7;
	text-decoration: underline dotted;
	cursor: help;
}

.panel {
	background: #181825;
	border-style: solid;
	border-color: #6c7086;
	border-radius: 10px;
	margin: 10px;
	padding: 3px;
}

p {
	margin-bottom: 0
}

.sidebar {
}

h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.codeSamp {
	margin-top: 8px;
	font-family: monospace;
	color: #cba6f7;
	background-color: #11111b;
	padding: 3px;
	margin: 2px;
	padding-right: 1em;
	border-left: 3px solid #cba6f7;
	overflow: scroll;
}

.meow-fill {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjcwIiB2aWV3Qm94PSIwIDAgODggMTUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHN0eWxlPi5waW5rIHsgZm9udDogaXRhbGljIDAuM2VtIHNlcmlmOyBmaWxsOiBwaW5rOyB9PC9zdHlsZT48dGV4dCB4PSIwIiB5PSIwIiBkeT0iMCIgY2xhc3M9InBpbmsiPjx0c3BhbiB4PSIwIiBkeT0iNCI+OjMgbXJyYW93IG55YWF+ICZndDt+Jmx0OyBhd2F3YSA6MyBwdXJycn48L3RzcGFuPjx0c3BhbiB4PSIwIiBkeT0iNSI+bXJycnAgOjMgbWV3byBtb3Jld34gbWlhdXV1IG1ycnJwPC90c3Bhbj48dHNwYW4geD0iMCIgZHk9IjUiPm1yYW93IG1pYXc6MyBtZXdvYW1lb3d3IG1pYW91OjM8L3RzcGFuPjwvdGV4dD48L3N2Zz4K");
	background-repeat: repeat;
	flex: 1;
	min-height: 12px;
}

